extends layout

block content
  h1.text-center #{title}

  each s, i in serv
    .well
      .row
        .col-lg-3
          img(src=s.image alt=s.name width="250", height="250")
        .col-lg-6 
          h3 #{s.name}
          p #{s.description}
        .col-lg-3